################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/AmandsHitmarker/obj
/AmandsHitmarker/bin
/AmandsHitmarker/.vs
/.vs
/AmandsHitmarker/AmandsHitmarker.csproj
