################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/AmandsHitmarker/obj
/AmandsHitmarker/bin
/AmandsHitmarker/.vs
/.vs
/AmandsHitmarker/AmandsHitmarker.csproj
/AmandsHitmarker/References
/AmandsHitmarkerFikaSync/bin/Release/netstandard2.1
/AmandsHitmarkerFikaSync/obj
/AmandsHitmarkerFikaSync/References
/Hitmarker
/package.ps1
/Package
